*{

    margin: 0px;
    padding: 0px;

}

.block_title{

    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.block_title>h1{

    font-size: 14px;
    text-transform: uppercase;

}

.block_animal{

    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.block_btn{

    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.block_btn>#btn{

    width: 200px;
    height: 70px;

}